@font-face {
  font-family: "MapoGoldenPier";
  src: url("./MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 🔥 여기부터 추가 */
body {
  font-family: 'MapoGoldenPier', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

.english {
  font-family: 'Allura', cursive;
}

input, textarea, .content {
  font-family: 'MapoGoldenPier', 'Noto Sans KR', sans-serif;
}