@font-face {
  font-family: "MapoGoldenPier";
  src: url("./MapoGoldenPierA.woff") format("woff");
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
}

/* 전체 감성 */
body {
  font-family: 'MapoGoldenPier', sans-serif;
}

/* 영어 */
.english {
  font-family: 'Allura', cursive;
}

/* 🔥 유저 입력 (중요) */
input, textarea, .content {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}